{% include "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                            <h2>Password Reset Sent</h2>
                            <p>An email has been sent to your registered email address with instructions to reset your password. Please check your email.</p>
                            <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    